.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.eachDest{
  position: relative;
  text-align: center;
    // padding: 90px;
    color:rgb(255, 255, 255);
    // background-image: none;
    img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    width: 100%;
    opacity: 0.9;
    height: 400px;
    // padding-bottom: 10px;
    // border-bottom: 1px solid grey;
    margin-bottom: 10px;
    }
}

.bottom-left{
  position: absolute;
  padding: 2%;
  bottom: 25px;
  left: 16px;
}

h1{
  font-size: 75px;
}

h5{
  display: block;
  // justify-content: flex-end;
}

.after-bk{
.img{
  padding-top: 10px;
  width :75vh;
  // border-radius: 5%;
  // border-right: 1px solid black;
}
}

.tags-display{
  display: flex;
  gap: 2.5vh;
  list-style: none;
  font-weight: 900;
  color:rgb(233, 197, 38);
}

.reviews{
  width: 100%;
  .comments{
    width: 100%;
  }
  .descrip{
    width:30%;
    font-weight: bold
  }
  .submit-btn{
    padding-bottom: 2vh;
    button{
      background-color: rgb(25, 135, 84);
      border-radius: 8%;
      color: white;
    }
  }
  textarea{
    width: 100%
  }
  h6{
    font-weight: bolder;
    font-size: x-large;
  }
}

.enquire{
  padding-bottom: 2.5%;
  button{
  background-color: rgb(25, 135, 84);
  border-radius: 8%;
  color:  white;
}
}

.body{
  display: flex;
  flex-direction: nowrap;
  align-items: center;
}

.img-details{
  display: flex;
  padding: 0 12px;
  padding-bottom: 1.5em;
}

@media(max-width:575px){
  .eachDest img{
    height: 15em;
  }
  h1{
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 575px){
  .container{
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
  }
    .main-logo{
      max-height: 1.7em;
    }
    .navbar{
      display: flex;
      align-items: center;
      align-content: space-around;
    }
    .navbar-nav{
      display: flex;
      flex-direction: row;
      .nav-link{
        padding-left: 0.25em;
        padding-right: 0.25em;
      }
    }
  }

  @media(max-width: 825px){
    .row {
      justify-content: center;
      flex-direction: column;
    }
    .img-details{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
    .after-bk{
      .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: center;
        align-items: center;
      }
    h5{
      font-weight: bold;
    }
  }
  .eachDest img{
      height: 20em;
  }
}