.text-center{
  padding: 5%;
  margin: 10px;
}

.background-image{
    background-image: url('https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_teaser_image/2021-06/shutterstock_1170866035.jpg?itok=NkvBW--5');
    color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-columns{

}
