.nav{
  width: 100%
}

.container {
  display: flex;
  // flex-flow: column wrap;
  // justify-content: flex-start;
  max-width: 100%;
  padding: 0;
  margin-left: 0%;
  margin-right: 0%;
  // align-items: stretch;
}

.nav-item{
  color: grey;
    cursor: pointer;
    &:hover{
      color: lightgrey
    }
  }

  .navbar{
    height: 7vh;
    color: whitesmoke;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
    // width: 100%;
    img{
      max-width: 5vh;
    }
  }

  a {
    width: 0;
  }
  
  @media(max-width: 575px){
  .container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    // flex-flow: column wrap;
    // max-width: 100%;

    .main-logo{
      max-height: 1.7em;
    }

    // .navbar-brand{
    //   display: flex;
    //   max-height: 0.1em;
    //   padding: 0;
    //   justify-content: center;
    // }

    .navbar{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      align-content: space-around;
    }

    .navbar-nav{
      display: flex;
      justify-content: flex-end;
      // flex-direction: row;
      .nav-link{
        padding-left: 0.25em;
        padding-right: 0.25em;
      }
    }
  }
  }
